@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Luckiest Guy';

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.welcome {
  margin: 25px;
}

p {
  margin: 25px;
}

img {
  display: flex;
  justify-content: center;
}

.hair-type-title {
  margin: 25px;
}

.card-groups {
  margin: 25px;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
